body {
  background-color: white;
}

.grid-container {
  display: grid;
  grid-template-columns: 200px auto;
  grid-template-rows: 100px auto;
  grid-template-areas: "Titre Logo" "Menu Affichage";
  
}

.Titre {
  grid-area: Titre;
  background-color: darkred;
  color: white;
  padding: 5px;
  border: 2px solid darkred;
  border-radius: 25px;
  position: fixed;
  top: 0px;
  left: 0px;
}

.Logo {
  grid-area: Logo;
  background-color: white;
  text-align: right;
}

.Apropos, a {
  color: darkred;
}

.Menu {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto;
  grid-template-areas: "MenuMain" "MenuQ" "MenuG" "MenuP";
  grid-area: Menu;
  padding-top: 5px;
  padding-left: 5px;
  position: fixed;
  top: 110px;
  left: 0px;
}

.MenuMain { grid-area: MenuMain;}

.MenuQ {
  grid-area: MenuQ;
  display: none;
}

.MenuG {
  grid-area: MenuG;
  display: none;
}

.MenuP {
  grid-area: MenuP;
  display: none;
}

.Affichage {
  grid-area: Affichage;
  background-color: white;
  padding: 10px;
  border: 2px solid darkred;
  border-radius: 25px;
  z-index: 1;
}

.boutonmenu {
  border: 2px solid darkred;
  border-radius : 15px 50px;
  background-color: lightgrey;
  color: darkred;
  padding: 10px;
  width:190px;
}

.boutonmenu:hover {
  background-color: darkred;
  color: white;
}

.boutoncharger {
  border: 2px solid darkred;
  border-radius : 15px 50px;
  background-color: lightgrey;
  color: darkred;
  padding: 10px;
}

.boutoncharger:hover {
  background-color: darkred;
  color: white;
}

.Questionnaire {
  display: none;
}

.Impression {
  display: none;
}

.Cubes {
  display: grid;
  display: none;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "karasek siegrist";
}

.AnalyseI {
  display: none;
}

.AnalyseG {
  display: none;
}

.AnalyseC {
  display: none;
}

input[type=file] {
  padding: 10px;
}

.Messages {
  display: none;
  color: darkred;
}

.Aide {
  display: none;
  color: darkred;
}

.karasek { grid-area: karasek;}

.siegrist { grid-area: siegrist;}

.Recommandations {
  display: none;
}

.Recommandations, ul {
  padding: 20px;
  list-style-position: inside;
}

table, thead, tbody, th, tr, td {
  border: 1px solid black;
  vertical-align: top;
  border-collapse: collapse;
  padding: 10px;
}

table {
  table-layout: fixed;
  width: 100%;
}

td {
  width: 25%;
}

@media print {
  body * {
    visibility: hidden;
  }
  .Affichage, .Affichage * {
    visibility: visible;
  }
  .Affichage {
    position: absolute;
    left: 0;
    top: 0;
    border: none;
    margin: 0;
  }
  .AnalyseI, button, input, .boutoncharger {
    visibility: hidden;
    display: none;
  }
  .Messages {
    visibility: hidden;
  }
  table {
    break-inside: avoid;
  }
}