body {margin: 0px;border: none;padding: 10px}
img {border: solid darkred;border-width: 0px 0px 2px 2px;border-radius: 0px 0px 0px 25px;position: fixed;top: 0px;right: 0px}
h1 {font-weight: bold;border: 2px solid darkred;border-radius: 25px 25px 25px 0px;padding: 10px;margin: 0px;background-color: white;color: darkred}
h2 {font-weight: bold}
h3 {font-weight: bold;margin: 0px}
.Titre {display: block}
.MenuMain {
  display: block;
  position: sticky;
  top: 0px;
  z-index: 2;
  padding:5px 0px 5px 0px;
}
.MenuMain ul {list-style-type: none;margin: 0;padding: 0;display: flex}
.MenuMain ul li {display: block;position: relative;float: left}
.MenuMain li ul {display: none}
.MenuMain ul li button {display: block;text-decoration: none;color: darkred;border: 2px solid darkred;border-radius: 0px 25px 0px 0px;background-color: white;white-space: nowrap}
.MenuMain ul li button:hover { background-color: darkred;color:white}
.MenuMain li:hover ul {display: block;position: absolute}
.MenuMain li:hover li {float: none}
.MenuMain button:disabled, button:disabled:hover {background-color: lightgrey; color: darkred}
.MenuMain button {font-weight: bold;padding: 10px}
.Affichage {
  display: block;
  background-color: white;
  padding: 10px;
  border: 2px solid darkred;
  border-radius: 0px 25px 25px 25px;
  z-index: 1;
}
.Apropos {display: block}
.Apropos, a {color: darkred}
.Questionnaire {display: none}
.Cubes {
  display: grid;
  display: none;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "karasek siegrist";
}
.AnalyseI {display: none}
.AnalyseG {display: none}
.AnalyseC {display: none}
input[type=file] {font-weight: bold;padding: 10px;background-color:white;color:darkred;border:2px solid darkred;border-radius:25px}
input[type=file]:hover {background-color:darkred;color:white}
.boutoncharger {font-weight: bold;background-color:white;color:darkred;border:2px solid darkred;border-radius:25px;padding:10px}
.boutoncharger:hover {background-color:darkred;color:white;padding:10px}
.Messages {display: none;color: darkred}
.Aide {display: none;color: darkred}
.karasek {grid-area: karasek}
.siegrist {grid-area: siegrist}
.Recommandations {display: none}
table {
  table-layout: fixed;
  width: 100%;
  border: 1px solid black;
  vertical-align: top;
  border-collapse: collapse;
  padding: 10px;
}
th {
  border: 1px solid black;
  vertical-align: top;
  border-collapse: collapse;
  padding: 10px;
}
td {
  border: 1px solid black;
  vertical-align: top;
  border-collapse: collapse;
  padding: 10px;
  width: 25%
}
.tablestats td {
  text-align: center;
}
td ul {display: inline; list-style-type: disc;padding: 10px;list-style-position: inside}
@media print {
  body * {visibility: hidden;}
  .Affichage, .Affichage * {visibility: visible;}
  .Affichage {
    position: absolute;
    left: 0;
    top: 0;
    border: none;
    margin: 0;
  }
  .AnalyseI, button, input, .boutoncharger {visibility: hidden;display: none}
  .Messages {visibility: hidden}
  table {break-inside: avoid}
}
@media screen and (max-width: 599px) {
img {visibility: hidden}
.MenuMain button {font-weight: normal;padding: 5px}
}